name: Swift JSON Formatter CI

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  linux-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Swift
        uses: swift-actions/setup-swift@v2
        with:
          swift-version: '6.1'
      - name: Swift Test
        run: swift test --package-path .
